<div *ngIf="students.length > 0; else noStudents">
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Sexo</th>
        <th>Nota</th>
        <th>Ausencias</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{ student.name }}</td>
        <td>{{ student.sex }}</td>
        <td>{{ student.score }}</td>
        <td>{{ student.absences }}</td>
        <td>
          <span *ngIf="student.score < 5">Suspendido</span>
          <span *ngIf="student.score >= 5">Aprobado</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noStudents>
  <p>No hay estudiantes en la lista.</p>
</ng-template>
